body{
  background-color:pink;
}
.box{
  font-family:Times New Roman;
  color:white;
  font-size:30px;
  text-align:center;
}
img{
  width:350px;
  height:300px;
  border:2px solid white;
  clip-path:polygon(50% 0%,109% 50%,50% 100%,0% 50%);
}
